{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid p-0">
    <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="hero-image hero-image-1">
                    <div class="hero-text text-center text-white">
                        <h1>Welcome to NeaRestro</h1>
                        <p>Your favorite place to find the best restaurants around you.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="hero-image hero-image-2">
                    <div class="hero-text text-center text-white">
                        <h1>Discover New Flavors</h1>
                        <p>Explore the best cuisines from around the world.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="hero-image hero-image-3">
                    <div class="hero-text text-center text-white">
                        <h1>Experience Fine Dining</h1>
                        <p>Find the best restaurants for every occasion.</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Search Form -->
    <div class="container mt-5 search-division">
        <form class="dropdown row justify-content-center align-items-center g-2" method="get" action="{% url 'home' %}">
            <div class="col-md-4">
                {% csrf_token %}
                {{ form.q }}
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.c }}
                </div>
            </div>
            <div class="col-md-4">
                <button class="btn btn-outline-primary w-100" type="submit">Search</button>
            </div>
        </form>
    </div>

    <!-- Search Results -->
    {% if q %}
    <div class="container mt-5">
        <h2>Results for "{{ q }}"
            {% if c %}
            restaurant with {{ c }} cuisine
            {% endif %}
            {% with results.count as total_results %}
            - Found {{ total_results }} result{{ total_results|pluralize }}
            {% if results.count == 0 %}
            <h2>Please try again</h2>
            {% endif %}
            {% endwith %}
        </h2>
        <div class="row">
            {% for restaurant in results %}
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="{% url 'restro_detail' restaurant.slug %}">
                <div class="card restaurant-card">
                    {% if restaurant.restro_image %}
                    <img src="{{ restaurant.restro_image.url }}" class="card-img-top restaurant-card-img" alt="{{ restaurant.name }}">
                    {% else %}
                    <img src="{% static 'images/default_image.png' %}" class="card-img-top restaurant-card-img" alt="{{ restaurant.name }}">
                    {% endif %}
                    <div class="card-body restaurant-card-body">
                        <h5 class="card-title">{{ restaurant.name }}</h5>
                        <p>{{ restaurant.average_rating }}
                            {% for i in "12345" %}
                            {% if i <= restaurant.average_rating|stringformat:"d" %}
                            <span class="fa fa-star checked" style="color: gold;"></span>
                            {% else %}
                            <span class="fa fa-star"></span>
                            {% endif %}
                            {% endfor %}
                        </p>
                        <p class="card-text">{{ restaurant.address_line1 }}, {{ restaurant.city }}, {{ restaurant.postcode }}</p>
                    </div>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if not q %}
    <!-- Restaurant Cards -->
    <div class="container mt-5">
        <div class="row">
            {% for restaurant in restaurants %}
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="{% url 'restro_detail' restaurant.slug %}">
                    <div class="card restaurant-card">
                        {% if restaurant.restro_image %}
                            <img src="{{ restaurant.restro_image.url }}" class="card-img-top restaurant-card-img" alt="{{ restaurant.name }}">
                        {% else %}
                            <img src="{% static 'images/default_image.png' %}" class="card-img-top restaurant-card-img" alt="{{ restaurant.name }}">
                        {% endif %}
                        <div class="card-body restaurant-card-body">
                            <h5 class="card-title">{{ restaurant.name }}</h5>
                            <p>{{ restaurant.average_rating }}
                                {% for i in "12345" %}
                                    {% if i <= restaurant.average_rating|stringformat:"d" %}
                                        <span class="fa fa-star checked" style="color: gold;"></span>
                                    {% else %}
                                        <span class="fa fa-star"></span>
                                    {% endif %}
                                {% endfor %}
                            </p>
                            <p class="card-text">{{ restaurant.address_line1 }}, {{ restaurant.city }}, {{ restaurant.postcode }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}   
</div>
{% endblock %}