{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<div class="container ">
  <div class="row">
      <div class="col-md-8 mt-3 offset-md-2 custom-card">
<div class="card p-4 ">
<h3>{% trans "Sign Up" %}</h3><hr>

<p class="form-text"> {% blocktrans %}Already have an account? Then please <a class="link" href="{{ login_url }}">Sign in</a>.{% endblocktrans %}</p>

<form class="signup form-text" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <p>
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}</p>
  <hr>
  <button type="submit" class="btn-signup btn-rounded">{% trans "Sign Up" %} &raquo;</button>
</form>
</div>
</div>
</div>
</div>

{% endblock content %}