/* Global Styles */

:root {
    --primary-font: "Merienda", serif;
    --secondary-font: "Playfair Display", serif;
    --primary-color: #FFD700; /* Yellow */
    --secondary-color: #F09319; /* Orange */
    --highlight-color: rgb(6, 91, 6); /* Green */
    --highlight-color-light: #FFB200; /* Light yellow */
    --text-color: #EDF2EF; /* white */
    --background-color: #3D5300; /* Dark green */
    --button-color: #F09319; /* Button color orange*/
    --button-color-dark: #D17C17; /* Dark orange color */
}


#msg{
    font-family: var(--primary-font);
    font-size: medium;
    font-weight: bold;
}

/* Add color to buttons */
button, .btn {
    background-color: var(--button-color); /* Set button background color */
    color: #fff; /* Set button text color to white */
    border: 2px solid #FFD700; /* Add yellow border */
    border-radius: 10px; /* Add rounded corners */
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for 3D effect */
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for background color and shadow */
}

button:hover, .btn:hover {
    background-color: var(--button-color-dark); /* Use darker button color on hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

/* Change anchor link color in cards to primary color */
.card a {
    color: var(--primary-color); /* Set anchor link color to primary color */
    text-decoration: none; /* Remove underline from links */
}

.card a:hover {
    text-decoration: underline; /* Add underline on hover */
}

/******Signup,login,logout Forms******** */

.custom-card {
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 30px; /* Add rounded corners */
    font-family: var(--primary-font);
    font-size: 2rem; /* Increase text size */
}

.custom-card a {
    color: var(--primary-color); /* Set anchor link color to primary color */
    text-decoration: none; /* Remove underline from links */
} 

/* Add secondary color to custom card text */
.custom-card p, .custom-card label, .custom-card .form-text, .custom-card .invalid-feedback {
    color: var(--secondary-color); /* Set text color to secondary color */
    font-size: 1.5rem; /* Increase text size for specific elements */
}

.custom-card .form-group {
    margin-bottom: 1rem;
}

.custom-card label {
    display: block;
    margin-bottom: 0.5rem;
}

.custom-card .form-control {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

/* Add padding below buttons in custom cards */
.custom-card button, .custom-card .btn {
    margin-bottom: 1rem; /* Add margin below buttons */
}

/* Custom styles for Django messages */

.alert-msg{
    background-color: #b6f3c4; /* Light green background for success messages */
    color: #155724; /* Text color for success messages */
    font-family: var(--secondary-font);
}

.form-text {
    font-family: var(--primary-font);
    color: white;
}

.custom-card .invalid-feedback {
    color: #dc3545;
}

.custom-card .btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
}

#account-page {
    color: black;
}

h2{
    color: var(--background-color);
    font-family: var(--secondary-font);
}

.text_color{
    color: var(--background-color);
}



/* Hero Image Styles */
.hero-image {
    height: 60vh; /* Full viewport height */
    width: 90%; /* Full width */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-left: 20px; /* Add left padding */
    padding-right: 20px; /* Add right padding */
    margin: 0 auto; /* Center the carousel */
}

.hero-image-1 {
    background-image: url('../images/hero4.jpeg');
}

.hero-image-2 {
    background-image: url('../images/hero.png');
}

.hero-image-3 {
    background-image: url('../images/hero5.jpeg');
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--secondary-color);
    text-align: center;
    padding: 5px; /* Add padding for spacing */
    background-color: rgba(9, 115, 97, 0.5); /* Semi-transparent background */
    border-radius: 40px; /* Add rounded corners */
    font-family: var(--secondary-font);
}

.hero-text h1 {
    font-size: 3rem; /* Adjust font size for responsiveness */
}

.hero-text p {
    font-size: 1.5rem; /* Adjust font size for responsiveness */
}

/* Navbar background color */
#navbar {
    background-color: #FFE31A;
    font-family: var(--secondary-font);
    font-style: normal;
    color: var(--background-color); /* Set text color to dark */

}

.navbar-link {
    font-family: var(--secondary-font); /* Set font family to Playfair Display */
    font-weight: bold; /* Make the text bold */
    font-size: 1.2rem; /* Adjust font size */
    color: var(--background-color); /* Set text color to dark */
}

/* Navbar toggler button */
#nav-toggler {
    border-color: #000; /* Change border color to dark */
}

#nav-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Change icon color to dark */
}


/* Footer background color */
.footer {
    background-color: #FFE31A !important;
    color: var(--background-color); 
    font-family: var(--secondary-font);
    font-weight: bold; /* Make footer text bold */
    padding: 20px 0; /* Add padding for spacing */
}

.footer a {
    color: var(--background-color); /* Set link color */
    text-decoration: none; /* Remove underline from links */
}

.footer a:hover {
    text-decoration: underline; /* Add underline on hover */
}

.footer .fab {
    font-size: 1.5rem; /* Adjust icon size */
    color: var(--background-color); /* Set icon color */
}


/* Card body background color */
.card-body {
    background-color:#3D5300; 
    border: none; 
    font-family: var(--primary-font);
    font-weight: bold; /* Make card body text bold */
}

/* Add rounded corners to cards */
.card {
    border-radius: 15px; 
    background-color: transparent; 
    transition: transform 0.3s ease-in-out; 
}

/* Pop-up effect on hover */
.card:hover {
    transform: scale(1.05); /* Scale up the card */
}


/* Star Rating */
.rating {
    display: flex;
    align-items: center;
}

.rating .fa-star {
    color: #ccc; /* Light grey color for empty stars */
    margin-right: 5px;
    cursor: pointer;
}

.rating .fa-star.fas {
    color: gold; /* Gold color for filled stars */
}

.write-comment-icon {
    color: #ccc; /* Light grey color for the pen icon */
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}

.write-comment-icon:hover::after {
    content: "Write a comment";
    position: absolute;
    top: -25px;
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    z-index: 10;
}

.faded-text {
    opacity: 0.5;
}

/* Custom styles for the login modal */
.modal-header, .modal-body, .modal-footer {
    color: black; /* Set text color to black */
}

/* Custom styles for the restaurant cards */

.restaurant-card {
    width: 100%; /* Ensure the card takes full width of the column */
    height: 100%; /* Ensure the card takes full height of the column */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px; /* Add padding for spacing */
    border-radius: 15px; /* Add rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for 3D effect */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for transform and shadow */
}

.restaurant-card:hover {
    transform: scale(1.05); /* Scale up the card on hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

.restaurant-card-img {
    width: 100%; /* Ensure the image takes full width of the card */
    height: auto; /* Maintain aspect ratio */
    border-radius: 15px 15px 0 0; /* Add rounded corners to the top of the image */
    object-fit: cover; /* Ensure the image covers the entire area */
}

.restaurant-card-body {
    padding: 15px; /* Add padding for spacing */
    background-color: var(--background-color); /* Set background color */
    border-radius: 0 0 15px 15px; /* Add rounded corners to the bottom of the card */
    color: var(--text-color); /* Set text color */
    font-family: var(--primary-font); /* Set font family */
}

.comment-card {
    color: white;
}

/* About Page */

.profile-pic {
    max-width: 100%;
    height: auto;
    border-radius: 50%; /* Optional: Add rounded corners */
    box-shadow: var(--smal-box-shadow); /* Optional: Add a shadow */
    border-bottom: 4px solid #2C0703;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover; /* Ensure the image fits within the circle */
    aspect-ratio: 1/1; /* Maintain a 1:1 aspect ratio */
}

/* Collaborate Form */

#collaborate {
    width: 100%;
    max-width: 800px; /* Set a maximum width for the form container */
    margin: 3% auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for 3D effect */
    border-radius: 8px;
    background-color: #F5F2F2; /* Set a background color for the form container */
    font-family: var(--primary-font);
}

/* Add shadow to buttons */
button, .btn {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for 3D effect */
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Smooth transition for shadow and background color */
}

button:hover, .btn:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

/* Add green background color to search division */
.search-division {
    background-color: var(--background-color); /* Set background color to green */
    padding: 20px; /* Add padding for spacing */
    border-radius: 10px; /* Add rounded corners */
}

/* Add rounded corners to filter dropdown */
.dropdown-menu {
    border-radius: 10px; /* Add rounded corners */
}

/* Change submit button color to green on hover in collaborator form */
#collaborate button[type="submit"]:hover {
    background-color: #28a745; /* Set background color to green */
    color: #fff; /* Set text color to white */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 2.5rem; /* Smaller font size for tablets */
    }

    .hero-text p {
        font-size: 1.2rem; /* Smaller font size for tablets */
    }

    .hero-text .form-control {
        width: 250px; /* Smaller input width for tablets */
    }
}

@media (max-width: 576px) {
    .hero-text h1 {
        font-size: 2rem; /* Smaller font size for mobile devices */
    }

    .hero-text p {
        font-size: 1rem; /* Smaller font size for mobile devices */
    }

    .hero-text .form-control {
        width: 200px; /* Smaller input width for mobile devices */
    }
}

@media (max-width: 768px) {
    .footer .text-md-left {
        text-align: center !important;
    }
    .footer .text-md-right {
        text-align: center !important;
    }
}

